:root {
    --grey:rgb(40, 38, 44);
    --white:#E0D5D7;
    --red:rgb(248, 118, 102);
    --teal:rgb(98, 146, 158);
    
    }

.header{
}

.errorText{
    background-color:rgba(248, 118, 102, 0.6);

}

.img{
    width:75px;
    height:75px;
    margin-left: -8px;
    margin-right: 2px;
}

.githubimg{
    width:100px;
    height:100px;
    /* padding-left: 5px;
    padding-right: 5px; */
}

.footer{
    margin-top: 15px;

}

.linkedin{
    margin-left:2px;
}

.background{
    background-color:rgb(40, 38, 44);
    color: var(--white);
}

.colorScheme{
    color: var(--white);
}

.textTeal{
    color: var(--teal);
}

.contactForm{
    min-height: 500px;
}

.backgroundRed{
    background-color: var(--red);
}

.backgroundTeal{
    background-color: var(--teal);
}

.backgroundGrey{
    background-color: var(--grey);
}

.cardBorder{
    border:.5px solid var(--teal)
}

a:active{
background-color: var(--red)
}

::placeholder{
    color:var(--white);
}

h2{
    color: var(--teal);
}
h3{
    color:var(--red);
}

.nav-pills .nav-link.active {
    background-color: var(--red) !important;
}

a:hover{
    color: var(--red);
}

a{
    color: var(--teal);
}

.hover:hover{
    color: var(--red);
}